html{
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-image: url("https://images.unsplash.com/photo-1734389481041-fa26afc1267c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* container */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn{
    background: rgba(76, 175, 80, 0.549);
    backdrop-filter: blur(5px);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.popup{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px 10px;
    background: rgba(255, 255, 255, 0.549);
    backdrop-filter: blur(5px);
    transition: all 0.7s;
    opacity: 0;
}
.popup.open{
    left: 60%;
    opacity: 1;
    transition: all 0.7s;
}